<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.AreaPatRecMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.AreaPatRec">
		insert into area_pat_rec
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="patAccCount!=null">
				patAccCount,
			</if>
				finishAccCount,
				createTime,
			<if test="plId!=null">
				plId,
			</if>
			<if test="paId!=null">
				paId,
			</if>
			<if test="ptId!=null">
				ptId,
			</if>
			<if test="lprId!=null">
				lprId,
			</if>
				finish
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="patAccCount!=null">
				#{patAccCount},
			</if>
				0,
				now(),
			<if test="plId!=null">
				#{plId},
			</if>
			<if test="paId!=null">
				#{paId},
			</if>
			<if test="ptId!=null">
				#{ptId},
			</if>
			<if test="lprId!=null">
				#{lprId},
			</if>
				0
		</trim>
	</insert>
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from area_pat_rec where paId=#{paId} and ptId=#{ptId} and date_format(createTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
	</select>
	<select id="getIdByPaIdPtId" resultType="java.lang.Integer">
		select id from area_pat_rec where paId=#{paId} and ptId=#{ptId} and date_format(createTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
	</select>
	<select id="getTodayList" resultType="com.cqZnxj.entity.AreaPatRec">
		select * from area_pat_rec where date_format(createTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
	</select>
	<update id="updateFinishAccCountById">
		update area_pat_rec set finishAccCount=finishAccCount+1 where id=#{id}
	</update>
	<select id="selectById" resultType="com.cqZnxj.entity.AreaPatRec">
		select * from area_pat_rec where id=#{id}
	</select>
	<update id="updateFinishById">
		update area_pat_rec set finish=1 where id=#{id}
	</update>
</mapper>