<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.DevParPatRecMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.DevParPatRec">
		insert into dev_par_pat_rec
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="paramIfExce!=null">
				paramIfExce,
			</if>
			<if test="paramValue!=null">
				paramValue,
			</if>
			<if test="paramExceInfo!=null">
				paramExceInfo,
			</if>
			<if test="paramMemo!=null">
				paramMemo,
			</if>
				createTime,
			<if test="startTime!=null">
				startTime,
			</if>
				endTime,
			<if test="plId!=null">
				plId,
			</if>
			<if test="paId!=null">
				paId,
			</if>
			<if test="pdaId!=null">
				pdaId,
			</if>
			<if test="pdpId!=null">
				pdpId,
			</if>
			<if test="ptId!=null">
				ptId,
			</if>
			<if test="psId!=null">
				psId,
			</if>
			<if test="daprId!=null">
				daprId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="paramIfExce!=null">
				#{paramIfExce},
			</if>
			<if test="paramValue!=null">
				#{paramValue},
			</if>
			<if test="paramExceInfo!=null">
				#{paramExceInfo},
			</if>
			<if test="paramMemo!=null">
				#{paramMemo},
			</if>
				now(),
			<if test="startTime!=null">
				#{startTime},
			</if>
				now(),
			<if test="plId!=null">
				#{plId},
			</if>
			<if test="paId!=null">
				#{paId},
			</if>
			<if test="pdaId!=null">
				#{pdaId},
			</if>
			<if test="pdpId!=null">
				#{pdpId},
			</if>
			<if test="ptId!=null">
				#{ptId},
			</if>
			<if test="psId!=null">
				#{psId},
			</if>
			<if test="daprId!=null">
				#{daprId},
			</if>
		</trim>
	</insert>
	<update id="editByPdpIdPtId" parameterType="com.cqZnxj.entity.DevParPatRec">
		update dev_par_pat_rec set 
		<trim suffixOverrides=",">
			<if test="paramIfExce!=null">
				paramIfExce=#{paramIfExce},
			</if>
			<if test="paramValue!=null">
				paramValue=#{paramValue},
			</if>
			<if test="paramExceInfo!=null">
				paramExceInfo=#{paramExceInfo},
			</if>
			<if test="paramMemo!=null">
				paramMemo=#{paramMemo},
			</if>
			<if test="psId!=null">
				psId=#{psId},
			</if>
		</trim>
		where pdpId=#{pdpId} and ptId=#{ptId} and date_format(createTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
	</update>
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from dev_par_pat_rec where pdpId=#{pdpId} and ptId=#{ptId} and date_format(createTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
	</select>
	<select id="selectByPdpIdPtId" resultType="com.cqZnxj.entity.DevParPatRec">
		select * from dev_par_pat_rec where pdpId=#{pdpId} and ptId=#{ptId} and date_format(createTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
	</select>
	<update id="updateFileUrlByPdpIdPtId" parameterType="com.cqZnxj.entity.DevParPatRec">
		update dev_par_pat_rec set 
		<trim suffixOverrides=",">
			<if test="photoUrl1!=null">
				photoUrl1=#{photoUrl1},
			</if>
			<if test="photoUrl2!=null">
				photoUrl2=#{photoUrl2},
			</if>
			<if test="photoUrl3!=null">
				photoUrl3=#{photoUrl3},
			</if>
			<if test="videoUrl1!=null">
				videoUrl1=#{videoUrl1},
			</if>
		</trim>
		where pdpId=#{pdpId} and ptId=#{ptId} and date_format(createTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
	</update>
	<select id="getTodayList" resultType="com.cqZnxj.entity.DevParPatRec">
		select * from dev_par_pat_rec where date_format(createTime,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
	</select>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from dev_par_pat_rec dppr,patrol_device_param pdp,patrol_device_account pda,patrol_device pd,patrol_area pa,patrol_line pl where dppr.pdpId=pdp.id and dppr.pdaId=pda.id and pda.pdId=pd.id and dppr.paId=pa.id and dppr.plId=pl.id
		<if test="plName!=''&amp;plName!=null">
			and pl.name like CONCAT('%',#{plName},'%')
		</if>
		<if test="paName!=''&amp;paName!=null">
			and pa.name like CONCAT('%',#{paName},'%')
		</if>
		<if test="pdName!=''&amp;pdName!=null">
			and pd.name like CONCAT('%',#{pdName},'%')
		</if>
		<if test="pdaNo!=''&amp;pdaNo!=null">
			and pda.no like CONCAT('%',#{pdaNo},'%')
		</if>
		<if test="pdpName!=''&amp;pdpName!=null">
			and pdp.name like CONCAT('%',#{pdpName},'%')
		</if>
		<if test="pdpUnit!=''&amp;pdpUnit!=null">
			and pdp.unit like CONCAT('%',#{pdpUnit},'%')
		</if>
		<if test="startTime!=''&amp;startTime!=null&amp;endTime!=''&amp;endTime!=null">
			and dppr.startTime&gt;=#{startTime} and dppr.endTime&lt;=#{endTime}
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.DevParPatRec">
		select dppr.id,pdp.`name` pdpName,pdp.unit pdpUnit,pdp.type pdpType,pda.`no` pdaNo,pd.`name` pdName,pd.`level` pdLevel,pa.`name` paName,pl.`name` plName,dppr.paramIfExce,dppr.paramValue,dppr.paramExceInfo,dppr.startTime,dppr.endTime from dev_par_pat_rec dppr,patrol_device_param pdp,patrol_device_account pda,patrol_device pd,patrol_area pa,patrol_line pl
		 where dppr.pdpId=pdp.id and dppr.pdaId=pda.id and pda.pdId=pd.id and dppr.paId=pa.id and dppr.plId=pl.id
		<if test="plName!=''&amp;plName!=null">
			and pl.name like CONCAT('%',#{plName},'%')
		</if>
		<if test="paName!=''&amp;paName!=null">
			and pa.name like CONCAT('%',#{paName},'%')
		</if>
		<if test="pdName!=''&amp;pdName!=null">
			and pd.name like CONCAT('%',#{pdName},'%')
		</if>
		<if test="pdaNo!=''&amp;pdaNo!=null">
			and pda.no like CONCAT('%',#{pdaNo},'%')
		</if>
		<if test="pdpName!=''&amp;pdpName!=null">
			and pdp.name like CONCAT('%',#{pdpName},'%')
		</if>
		<if test="pdpUnit!=''&amp;pdpUnit!=null">
			and pdp.unit like CONCAT('%',#{pdpUnit},'%')
		</if>
		<if test="startTime!=''&amp;startTime!=null&amp;endTime!=''&amp;endTime!=null">
			and dppr.startTime&gt;=#{startTime} and dppr.endTime&lt;=#{endTime}
		</if>
		  order by dppr.startTime desc limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.cqZnxj.entity.DevParPatRec">
		select dppr.id,pdp.`name` pdpName,pdp.unit pdpUnit,pdp.type pdpType,pda.`no` pdaNo,pd.`name` pdName,pd.`level` pdLevel,pa.`name` paName,pl.`name` plName,dppr.paramIfExce,dppr.paramValue,dppr.paramExceInfo,dppr.photoUrl1,dppr.photoUrl2,dppr.photoUrl3,dppr.videoUrl1,dppr.startTime,dppr.endTime from dev_par_pat_rec dppr,patrol_device_param pdp,patrol_device_account pda,patrol_device pd,patrol_area pa,patrol_line pl
		 where dppr.pdpId=pdp.id and dppr.pdaId=pda.id and pda.pdId=pd.id and dppr.paId=pa.id and dppr.plId=pl.id and dppr.id=#{id}
	</select>
</mapper>