<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatLineAreaAccSetMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.PatLineAreaAccSet">
		insert into pat_line_area_acc_set
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="plId!=null">
				plId,
			</if>
			<if test="paId!=null">
				paId,
			</if>
			<if test="pdaIds!=null">
				pdaIds,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="plId!=null">
				#{plId},
			</if>
			<if test="paId!=null">
				#{paId},
			</if>
			<if test="pdaIds!=null">
				#{pdaIds},
			</if>
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from pat_line_area_acc_set where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in(" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.cqZnxj.entity.PatLineAreaAccSet">
		update pat_line_area_acc_set set 
		<trim suffixOverrides=",">
			<if test="plId!=null">
				plId=#{plId},
			</if>
			<if test="paId!=null">
				paId=#{paId},
			</if>
			<if test="pdaIds!=null">
				pdaIds=#{pdaIds},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from pat_line_area_acc_set plaas,patrol_line pl,patrol_area pa,dept sd,dept fd
		 where plaas.plId=pl.id and plaas.paId=pa.id and pa.deptId=sd.deptId and sd.parentId=fd.deptId
		<if test="plName!=''&amp;plName!=null">
			and pl.name like CONCAT('%',#{plName},'%')
		</if>
		<if test="paName!=''&amp;paName!=null">
			and pa.name like CONCAT('%',#{paName},'%')
		</if> 
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatLineAreaAccSet">
		select plaas.*,pl.name plName,pa.name paName,sd.deptId secondDeptId,sd.deptName secondDeptName,fd.deptId firstDeptId,fd.deptName firstDeptName from pat_line_area_acc_set plaas,patrol_line pl,patrol_area pa,dept sd,dept fd
		 where plaas.plId=pl.id and plaas.paId=pa.id and pa.deptId=sd.deptId and sd.parentId=fd.deptId
		<if test="plName!=''&amp;plName!=null">
			and pl.name like CONCAT('%',#{plName},'%')
		</if>
		<if test="paName!=''&amp;paName!=null">
			and pa.name like CONCAT('%',#{paName},'%')
		</if> 
		limit #{rowNum},#{rows}
	</select>
	<select id="getAreaCountByPlId" resultType="java.lang.Integer">
		select count(*) from pat_line_area_acc_set where plId=#{plId}
	</select>
	<select id="getPdaIdsByPlIdPaId" resultType="java.lang.String">
		select pdaIds from pat_line_area_acc_set where plId=#{plId} and paId=#{paId}
	</select>
</mapper>