<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatrolDeviceParamMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.PatrolDeviceParam">
		insert into patrol_device_param
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
			<if test="type!=null">
				type,
			</if>
			<if test="warnDown!=null">
				warnDown,
			</if>
			<if test="warnUp!=null">
				warnUp,
			</if>
			<if test="unit!=null">
				unit,
			</if>
				createTime,
			<if test="pdaId!=null">
				pdaId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
			<if test="type!=null">
				#{type},
			</if>
			<if test="warnDown!=null">
				#{warnDown},
			</if>
			<if test="warnUp!=null">
				#{warnUp},
			</if>
			<if test="unit!=null">
				#{unit},
			</if>
				now(),
			<if test="pdaId!=null">
				#{pdaId},
			</if>
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from patrol_device_param where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.cqZnxj.entity.PatrolDeviceParam">
		update patrol_device_param set 
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="type!=null">
				type=#{type},
			</if>
			<if test="warnDown!=null">
				warnDown=#{warnDown},
			</if>
			<if test="warnUp!=null">
				warnUp=#{warnUp},
			</if>
			<if test="unit!=null">
				unit=#{unit},
			</if>
			<if test="pdaId!=null">
				pdaId=#{pdaId},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from patrol_device_param pdp,patrol_device_account pda,patrol_device pd,dept sd,dept fd
		 where pdp.pdaId=pda.id and pda.pdId=pd.id and pd.deptId=sd.deptId and sd.parentId=fd.deptId
		<if test="deptId!=''&amp;deptId!=null">
			and (fd.deptId=#{deptId} or sd.deptId=#{deptId})
		</if>
		<if test="secondDeptName!=''&amp;secondDeptName!=null">
			and sd.deptName like CONCAT('%',#{secondDeptName},'%')
		</if>
		<if test="pdName!=''&amp;pdName!=null">
			and pd.name like CONCAT('%',#{pdName},'%')
		</if>
		<if test="pdaNo!=''&amp;pdaNo!=null">
			and pda.no like CONCAT('%',#{pdaNo},'%')
		</if>
		<if test="name!=''&amp;name!=null">
			and pdp.name like CONCAT('%',#{name},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and pdp.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatrolDeviceParam">
		select pdp.*,pda.`no` pdaNo,pd.`name` pdName,sd.deptName secondDeptName,fd.deptName firstDeptName from patrol_device_param pdp,patrol_device_account pda,patrol_device pd,dept sd,dept fd where pdp.pdaId=pda.id and pda.pdId=pd.id and pd.deptId=sd.deptId and sd.parentId=fd.deptId
		<if test="deptId!=''&amp;deptId!=null">
			and (fd.deptId=#{deptId} or sd.deptId=#{deptId})
		</if>
		<if test="secondDeptName!=''&amp;secondDeptName!=null">
			and sd.deptName like CONCAT('%',#{secondDeptName},'%')
		</if>
		<if test="pdName!=''&amp;pdName!=null">
			and pd.name like CONCAT('%',#{pdName},'%')
		</if>
		<if test="pdaNo!=''&amp;pdaNo!=null">
			and pda.no like CONCAT('%',#{pdaNo},'%')
		</if>
		<if test="name!=''&amp;name!=null">
			and pdp.name like CONCAT('%',#{name},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and pdp.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		order by pdp.createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.cqZnxj.entity.PatrolDeviceParam">
		select pdp.*,pda.no pdaNo,pd.id pdId,pd.name pdName,sd.deptId secondDeptId,sd.deptName secondDeptName,fd.deptId firstDeptId,fd.deptName firstDeptName from patrol_device_param pdp,patrol_device_account pda,patrol_device pd,dept sd,dept fd where pdp.pdaId=pda.id and pda.pdId=pd.id and pd.deptId=sd.deptId and sd.parentId=fd.deptId and pdp.id=#{id}
	</select>
	<select id="getCountByPdaIdList" resultType="java.lang.Integer">
		select count(*) from patrol_device_param where 1=1
		<foreach collection="pdaIdList" item="pdaId" open=" and cast(pdaId as char) in (" separator="," close=")">
		#{pdaId}
		</foreach>
	</select>
	<select id="getListByPlIdList" resultType="com.cqZnxj.entity.PatrolDeviceParam">
		select pdp.*,plaas.id plId from patrol_device_param pdp,pat_line_area_acc_set plaas where CONCAT(',',plaas.pdaIds,',') like CONCAT('%,',pdp.pdaId,',%')
		<foreach collection="plIdList" item="plId" open=" and cast(plId as char) in (" separator="," close=")">
		#{plId}
		</foreach>
	</select>
	<delete id="deleteByPdaIdList">
		delete from patrol_device_param where 1=1
		<foreach collection="pdaIdList" item="pdaId" open=" and cast(pdaId as char) in (" separator="," close=")">
		#{pdaId}
		</foreach>
	</delete>
	<select id="selectPhListByPdaId" resultType="com.cqZnxj.entity.PatrolDeviceParam">
		select * from patrol_device_param where pdaId=#{pdaId}
	</select>
	<select id="selectPhInfoById" resultType="com.cqZnxj.entity.PatrolDeviceParam">
		select pdp.*,pd.name pdName,pa.id paId,pa.name paName,pl.id plId,pl.name plName from
		 patrol_device_param pdp,patrol_device_account pda,patrol_device pd,pat_line_area_acc_set plaas,patrol_area pa,patrol_line pl
		  where pdp.pdaId=pda.id and pda.pdId=pd.id and CONCAT(',',plaas.pdaIds,',') like CONCAT('%,',pda.id,',%') and plaas.paId=pa.id and plaas.plId=pl.id and pdp.id=#{id}
	</select>
</mapper>