<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatrolAreaMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.PatrolArea">
		insert into patrol_area
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
				createTime,
			<if test="pdaIds!=null">
				pdaIds,
			</if>
			<if test="deptId!=null">
				deptId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
				now(),
			<if test="pdaIds!=null">
				#{pdaIds},
			</if>
			<if test="deptId!=null">
				#{deptId},
			</if>
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from patrol_area where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.cqZnxj.entity.PatrolArea">
		update patrol_area set 
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="pdaIds!=null">
				pdaIds=#{pdaIds},
			</if>
			<if test="deptId!=null">
				deptId=#{deptId},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from dept d,patrol_area pa where d.deptId=pa.deptId
		<if test="name!=''&amp;name!=null">
			and pa.name like CONCAT('%',#{name},'%')
		</if>
		<if test="deptId!=''&amp;deptId!=null">
			and d.deptId=#{deptId}
		</if>
		<if test="deptName!=''&amp;deptName!=null">
			and d.deptName like CONCAT('%',#{deptName},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and pa.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatrolArea">
		select pa.*,d.deptName from dept d,patrol_area pa where d.deptId=pa.deptId
		<if test="name!=''&amp;name!=null">
			and pa.name like CONCAT('%',#{name},'%')
		</if>
		<if test="deptId!=''&amp;deptId!=null">
			and d.deptId=#{deptId}
		</if>
		<if test="deptName!=''&amp;deptName!=null">
			and d.deptName like CONCAT('%',#{deptName},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and pa.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.cqZnxj.entity.PatrolArea">
		select pa.*,sd.deptId secondDeptId,sd.deptName secondDeptName,fd.deptId firstDeptId,fd.deptName firstDeptName from patrol_area pa,dept sd,dept fd where pa.deptId=sd.deptId and sd.parentId=fd.deptId and pa.id=#{id}
	</select>
	<select id="queryCBBList" resultType="com.cqZnxj.entity.PatrolArea">
		select id,name from patrol_area where deptId=#{deptId} order by createTime desc
	</select>
	<select id="getPdaIdsById" resultType="java.lang.String">
		select pdaIds from patrol_area where id=#{id}
	</select>
	<select id="selectPhListByPlId" resultType="com.cqZnxj.entity.PatrolArea">
		select pa.* from patrol_area pa,pat_line_area_acc_set plaas where pa.id=plaas.paId and plaas.plId=#{plId}
	</select>
</mapper>