<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatrolTeamMapper">
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from patrol_team where 1=1
		<if test="name!=''&amp;name!=null">
			and name like CONCAT('%',#{name},'%')
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatrolTeam">
		select id,name,startTime,endTime,leader,workDay,staffIds,updateTime,updateStaffId from patrol_team where 1=1
		<if test="name!=''&amp;name!=null">
			and name like CONCAT('%',#{name},'%')
		</if>
		limit #{rowNum},#{rows}
	</select>
</mapper>