<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatrolPlanMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.PatrolPlan">
		insert into patrol_plan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
			<if test="type!=null">
				type,
			</if>
			<if test="ptId!=null">
				ptId,
			</if>
			<if test="psIds!=null">
				psIds,
			</if>
			<if test="plIds!=null">
				plIds,
			</if>
				createTime,
			<if test="startDate!=null">
				startDate,
			</if>
			<if test="endDate!=null">
				endDate,
			</if>
				state,
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
			<if test="type!=null">
				#{type},
			</if>
			<if test="ptId!=null">
				#{ptId},
			</if>
			<if test="psIds!=null">
				#{psIds},
			</if>
			<if test="plIds!=null">
				#{plIds},
			</if>
				now(),
			<if test="startDate!=null">
				#{startDate},
			</if>
			<if test="endDate!=null">
				#{endDate},
			</if>
				1,
		</trim>
	</insert>
	<delete id="deleteByIdList">
		delete from patrol_plan where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in(" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.cqZnxj.entity.PatrolPlan">
		update patrol_plan set 
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="type!=null">
				type=#{type},
			</if>
			<if test="ptId!=null">
				ptId=#{ptId},
			</if>
			<if test="psIds!=null">
				psIds=#{psIds},
			</if>
			<if test="plIds!=null">
				plIds=#{plIds},
			</if>
			<if test="startDate!=null">
				startDate=#{startDate},
			</if>
			<if test="endDate!=null">
				endDate=#{endDate},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from patrol_plan pp,patrol_team pt where pp.ptId=pt.id
		<if test="name!=''&amp;name!=null">
			and pp.name like CONCAT('%',#{name},'%')
		</if>
		<if test="state!=''&amp;state!=null">
			and pp.state=#{state}
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatrolPlan">
		select pp.*,pt.name ptName from patrol_plan pp,patrol_team pt where pp.ptId=pt.id
		<if test="name!=''&amp;name!=null">
			and pp.name like CONCAT('%',#{name},'%')
		</if>
		<if test="state!=''&amp;state!=null">
			and pp.state=#{state}
		</if>
		order by pp.createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.cqZnxj.entity.PatrolPlan">
		select pp.*,pt.name ptName from patrol_plan pp,patrol_team pt where pp.ptId=pt.id and pp.id=#{id}
	</select>
	<select id="getSumDayCount" resultType="java.lang.String">
		select sum(timestampdiff(day,startDate,endDate)) from patrol_plan where startDate between DATE_SUB(CURDATE(), INTERVAL 7 DAY) and current_date() and ptId=#{ptId}
	</select>
	<select id="getReachDayCount" resultType="java.lang.Integer">
		select count(*) from patrol_plan pp,line_pat_rec lpr where CONCAT(',',pp.plIds,',') like CONCAT('%,',lpr.plId,',%') and pp.startDate between DATE_SUB(CURDATE(), INTERVAL 7 DAY) and current_date() and lpr.finish=1 and pp.ptId=#{ptId}
	</select>
</mapper>