<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatrolDeviceMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.PatrolDevice">
		insert into patrol_device
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
			<if test="specs!=null">
				specs,
			</if>
			<if test="typeId!=null">
				typeId,
			</if>
				makeDate,
			<if test="level!=null">
				level,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
			<if test="specs!=null">
				#{specs},
			</if>
			<if test="typeId!=null">
				#{typeId},
			</if>
				now(),
			<if test="level!=null">
				#{level},
			</if>
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from patrol_device where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.cqZnxj.entity.PatrolDevice">
		update patrol_device set name=#{name},specs=#{specs},typeId=#{typeId},level=#{level} where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from patrol_device_type pdt,patrol_device pd where pdt.id=pd.typeId
		<if test="name!=''&amp;name!=null">
			and pd.name like CONCAT('%',#{name},'%')
		</if> 
		<if test="pdtName!=''&amp;pdtName!=null">
			and pdt.name like CONCAT('%',#{pdtName},'%')
		</if> 
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatrolDevice">
		select pd.id,pd.name,pdt.name pdtName,pd.makeDate from patrol_device_type pdt,patrol_device pd where pdt.id=pd.typeId
		<if test="name!=''&amp;name!=null">
			and pd.name like CONCAT('%',#{name},'%')
		</if> 
		<if test="pdtName!=''&amp;pdtName!=null">
			and pdt.name like CONCAT('%',#{pdtName},'%')
		</if> 
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.cqZnxj.entity.PatrolDevice">
		select pd.*,pdt.name pdtName from patrol_device pd,patrol_device_type pdt where pd.typeId=pdt.id and pd.id=#{id}
	</select>
</mapper>