<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatrolTeamMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.PatrolTeam">
		insert into patrol_team
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
			<if test="startTime!=null">
				startTime,
			</if>
			<if test="endTime!=null">
				endTime,
			</if>
			<if test="leader!=null">
				leader,
			</if>
			<if test="workDay!=null">
				workDay,
			</if>
			<if test="deptId!=null">
				deptId,
			</if>
			<if test="staffIds!=null">
				staffIds,
			</if>
				createTime,
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
			<if test="startTime!=null">
				#{startTime},
			</if>
			<if test="endTime!=null">
				#{endTime},
			</if>
			<if test="leader!=null">
				#{leader},
			</if>
			<if test="workDay!=null">
				#{workDay},
			</if>
			<if test="deptId!=null">
				#{deptId},
			</if>
			<if test="staffIds!=null">
				#{staffIds},
			</if>
				now(),
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from patrol_team where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in(" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.cqZnxj.entity.PatrolTeam">
		update patrol_team set 
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="startTime!=null">
				startTime=#{startTime},
			</if>
			<if test="endTime!=null">
				endTime=#{endTime},
			</if>
			<if test="leader!=null">
				leader=#{leader},
			</if>
			<if test="workDay!=null">
				workDay=#{workDay},
			</if>
			<if test="deptId!=null">
				deptId=#{deptId},
			</if>
			<if test="staffIds!=null">
				staffIds=#{staffIds},
			</if>
				updateTime=now(),
			<if test="updateStaffId!=null">
				updateStaffId=#{updateStaffId},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from patrol_team where 1=1
		<if test="name!=''&amp;name!=null">
			and name like CONCAT('%',#{name},'%')
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatrolTeam">
		select id,name,startTime,endTime,leader,workDay,staffIds,createTime,updateTime,updateStaffId from patrol_team where 1=1
		<if test="name!=''&amp;name!=null">
			and name like CONCAT('%',#{name},'%')
		</if>
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.cqZnxj.entity.PatrolTeam">
		select pt.*,sd.deptId secondDeptId,sd.deptName secondDeptName,fd.deptId firstDeptId,fd.deptName firstDeptName from patrol_team pt,dept sd,dept fd where pt.deptId=sd.deptId and sd.parentId=fd.deptId and pt.id=#{id}
	</select>
	<select id="queryCBBList" resultType="com.cqZnxj.entity.PatrolTeam">
		select id,name from patrol_team where 1=1 order by createTime
	</select>
	<select id="queryCBBListByDeptId" resultType="com.cqZnxj.entity.PatrolTeam">
		select id,name from patrol_team where 1=1 and deptId=#{deptId} order by createTime
	</select>
</mapper>