<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatrolDeviceAccountMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.PatrolDeviceAccount">
		insert into patrol_device_account
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pdId!=null">
				pdId,
			</if>
			<if test="no!=null">
				no,
			</if>
				createTime,
			<if test="createStaffId!=null">
				createStaffId,
			</if>
			<if test="qrcodeUrl!=null">
				qrcodeUrl,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pdId!=null">
				#{pdId},
			</if>
			<if test="no!=null">
				#{no},
			</if>
				now(),
			<if test="createStaffId!=null">
				#{createStaffId},
			</if>
			<if test="qrcodeUrl!=null">
				#{qrcodeUrl},
			</if>
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from patrol_device_account where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.cqZnxj.entity.PatrolDeviceAccount">
		update patrol_device_account set 
		<trim suffixOverrides=",">
			<if test="pdId!=null">
				pdId=#{pdId},
			</if>
			<if test="no!=null">
				no=#{no},
			</if>
			<if test="createStaffId!=null">
				createStaffId=#{createStaffId},
			</if>
			<if test="startTime!=null">
				startTime=#{startTime},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from patrol_device_account pda,patrol_device pd,dept d where 1=1 and pda.pdId=pd.id and pd.deptId=d.deptId
		<if test="no!=''&amp;no!=null">
			and pda.no like CONCAT('%',#{no},'%')
		</if>
		<if test="pdName!=''&amp;pdName!=null">
			and pd.name like CONCAT('%',#{pdName},'%')
		</if>
		<if test="deptId!=''&amp;deptId!=null">
			and d.deptId=#{deptId}
		</if>
		<if test="deptName!=''&amp;deptName!=null">
			and d.name like CONCAT('%',#{deptName},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and pda.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="startTimeStart!=''&amp;startTimeStart!=null&amp;startTimeEnd!=''&amp;startTimeEnd!=null">
			and pda.startTime between #{startTimeStart} and #{startTimeEnd}
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatrolDeviceAccount">
		select pda.*,pd.name pdName,d.deptName from patrol_device_account pda,patrol_device pd,dept d where 1=1 and pda.pdId=pd.id and pd.deptId=d.deptId
		<if test="no!=''&amp;no!=null">
			and pda.no like CONCAT('%',#{no},'%')
		</if>
		<if test="pdName!=''&amp;pdName!=null">
			and pd.name like CONCAT('%',#{pdName},'%')
		</if>
		<if test="deptId!=''&amp;deptId!=null">
			and d.deptId=#{deptId}
		</if>
		<if test="deptName!=''&amp;deptName!=null">
			and d.deptName like CONCAT('%',#{deptName},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and pda.createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="startTimeStart!=''&amp;startTimeStart!=null&amp;startTimeEnd!=''&amp;startTimeEnd!=null">
			and pda.startTime between #{startTimeStart} and #{startTimeEnd}
		</if>
		order by pda.createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="getCountByNo" resultType="java.lang.Integer">
		select count(*) from patrol_device_account where no=#{no}
	</select>
	<select id="selectById" resultType="com.cqZnxj.entity.PatrolDeviceAccount">
		select pda.*,pd.name pdName,d.deptId,d.deptName from patrol_device_account pda,patrol_device pd,dept d where pda.pdId=pd.id and pd.deptId=d.deptId and pda.id=#{id}
	</select>
	<select id="queryCBBList" resultType="com.cqZnxj.entity.PatrolDeviceAccount">
		select pda.id,pda.no from patrol_device_account pda,patrol_device pd where pda.pdId=pd.id
		<if test="deptId!=''&amp;deptId!=null">
			and pd.id=#{deptId}
		</if>
		<if test="pdId!=''&amp;pdId!=null">
			and pda.pdId=#{pdId}
		</if>
		 order by createTime
	</select>
</mapper>