<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.PatrolLineMapper">
	<insert id="add" parameterType="com.cqZnxj.entity.PatrolLine">
		insert into patrol_line
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
				createTime
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
				now()
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from patrol_line where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in(" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.cqZnxj.entity.PatrolLine">
		update patrol_line set 
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from patrol_line where 1=1
		<if test="name!=''&amp;name!=null">
			and name like CONCAT('%',#{name},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.PatrolLine">
		select id,`name`,createTime from patrol_line where 1=1
		<if test="name!=''&amp;name!=null">
			and name like CONCAT('%',#{name},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		order by createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="queryCBBList" resultType="com.cqZnxj.entity.PatrolLine">
		select id,name from patrol_line order by createTime
	</select>
	<select id="getTotalInfo" resultType="com.cqZnxj.entity.PatrolLine">
		select pl.* from patrol_line pl,patrol_plan pp where now() BETWEEN pp.startDate and pp.endDate and pp.plIds in(pl.id) ORDER BY pl.createTime
	</select>
	<select id="selectById" resultType="com.cqZnxj.entity.PatrolLine">
		select * from patrol_line where id=#{id}
	</select>
</mapper>