<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.StaffMapper">
	<select id="queryCBBList" resultType="com.cqZnxj.entity.Staff">
		select id,name from staff where 1=1
		<if test="deptId!=''&amp;deptId!=null">
			and deptId=#{deptId}
		</if>
	</select>
	<select id="queryCBBListByPtId" resultType="com.cqZnxj.entity.Staff">
		select id,name from staff where id in(select staffIds from patrol_team where id=#{ptId})
	</select>
</mapper>