<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.StaffMapper">
	<select id="queryCBBList" resultType="com.cqZnxj.entity.Staff">
		select id,name from staff where 1=1
		<if test="deptId!=''&amp;deptId!=null">
			and deptId=#{deptId}
		</if>
	</select>
	<select id="queryCBBListByPtId" resultType="com.cqZnxj.entity.Staff">
		select id,name from staff where id in(select staffIds from patrol_team where id=#{ptId})
	</select>
	<select id="selectByJobNumber" resultType="com.cqZnxj.entity.Staff">
		select * from staff where jobNumber=#{jobNumber}
	</select>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from dept sd,dept fd,staff s where sd.deptId=s.deptId and sd.parentId=fd.deptId
		<if test="name!=''&amp;name!=null">
			and s.name like CONCAT('%',#{name},'%')
		</if>
		<if test="deptId!=''&amp;deptId!=null">
			and (fd.deptId=#{deptId} or sd.deptId=#{deptId})
		</if>
		<if test="secondDeptName!=''&amp;secondDeptName!=null">
			and sd.deptName like CONCAT('%',#{secondDeptName},'%')
		</if>
	</select>
	<select id="queryList" resultType="com.cqZnxj.entity.Staff">
		select s.*,sd.deptName secondDeptName,fd.deptName firstDeptName from dept sd,dept fd,staff s where sd.deptId=s.deptId and sd.parentId=fd.deptId
		<if test="name!=''&amp;name!=null">
			and s.name like CONCAT('%',#{name},'%')
		</if>
		<if test="deptId!=''&amp;deptId!=null">
			and (fd.deptId=#{deptId} or sd.deptId=#{deptId})
		</if>
		<if test="secondDeptName!=''&amp;secondDeptName!=null">
			and sd.deptName like CONCAT('%',#{secondDeptName},'%')
		</if>
		limit #{rowNum},#{rows}
	</select>
</mapper>