<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqZnxj.dao.TrackingMapper">
	<select id="selectCanvasData" resultType="com.cqZnxj.entity.Tracking">
		select * from tracking where areaId=#{areaId} and tagId=#{tagId} order by timeLong
	</select>
</mapper>